body {
  text-align: center;
}

video {
  width: 0px;
  height: 0px;
}

table {
  width: auto;
  margin: auto;
}

tr,
td {
  border: 0px;
  text-align: center;
}

.mirror {
  transform: scaleX(-1);
}
.mouse {
  position: absolute;
  top: 62px;
  left: 0;
  width: 640px;
  height: 480px;
}
#container {
  position: relative;
  display: flex;
}
